doctype html 
html 
    title Portfolio 
    style 
      include ./style.css 

    head 
    body 
     
       #container 
        .navitems #[a(href="/") Home] 
        .navitems #[a(href="/") Services ]   
        .navitems #[a(href="/") Contact Us]
        .navitems #[a(href="/") About]
       
       #middlesection 
        .midcontainer1
          
        .midcontainer2
          h2 Hey My Name is Dipak 
          h4  And I am a Developer
        
