<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    style 
          include ../view/style.css
</head>
<body>
    
    <div class="container">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Services</a></li>
        </ul>
    </div>
    
    <form action="/" method="post" id="form">
        <h3>Fill this from to get Membership of our gym</h3>

        <input type="text" name="name" id="name" placeholder="Enter Your name">
        <input type="age" name="age" id="age" placeholder="Enter Your age">
        <input type="gender" name="gender" id="gender" placeholder="Enter Your gender">
        <input type="BMI" name="BMI" id="BMI" placeholder="Enter Your BMI">
         
        <textarea name="" id="" cols="30" rows="10" placeholder="More about yourself"></textarea>

        
    
    <button class="btn">Submit</button>
</form>


</body>
</html>